<% content_for(:title, "#{@animal.name} | Wildlife-Tracker") %>

<h1>Meet critter <%= @animal.name %>. This animal is a <%= @animal.species %></h1>

<% if @animal.sightings.any? %>
  <h4>Here are sightings for <%= @animal.name %></h4>
  <ul>
    <% @animal.sightings.each do |sighting| %>
      <li>
        <%= sighting.description %>, <%= sighting.region %> <%= sighting.date %> <%= sighting.lat %> <%= sighting.long %> |
        <%= link_to "Edit #{sighting.description}", edit_animal_sighting_path(@animal, sighting) %> |
        <%= link_to "Delete #{sighting.description}", animal_sighting_path(@animal, sighting),
                                              :data => {:confirm => "Sure ya?",
                                                        :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    There aren't any sightings yet!
  </p>
<% end %>

<p>
  <%= link_to "Add sighting", new_animal_sighting_path(@animal) %>
</p>

<p><%= link_to "Edit", edit_animal_path(@animal) %></p>
<p><%= link_to "Delete", animal_path(@animal),
                          :data => {:confirm => "Really?",
                                    :method => "delete"}%></p>

<hr>
<p><%= link_to "return to animals", animals_path %></p>
