<% if @animal.errors.any? %>
  <h3>Oops there it is (errors)</h3>
  <ul>
    <% @animal.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @animal do |f| %>
  <%= f.label :species %>
  <%= f.text_field :species %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :lat %>
  <%= f.text_field :lat %>

  <%= f.label :long %>
  <%= f.text_field :long %>

  <%= f.label :region %>
  <%= f.text_field :region %>
  <%= f.submit %>
<% end %>
